@import "tailwindcss";
@source "../src/**/*.rs";
@source "../public/**/*.html";

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--color-slate-950);
  color: var(--color-slate-100);
}

#map {
  background-color: var(--color-slate-950);
}

.maplibregl-ctrl-bottom-right,
.maplibregl-ctrl-bottom-left {
  display: none;
}
